/*===Corpo da pagina===*/
    *{box-sizing: border-box;}
    
    body{
        background-color: rgb(95, 95, 226);
        margin:0 8px; 
    }

    h1{
        display: block;
        width: 100%;
        background-color: #14e225;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2{
        text-align: center;
        display: block;
        width: 100%;
        background-color: #14e225;
    }
    
    h3{
        font-family: cursive;
        color: rgb(16, 146, 202);
    }

/*===Barra Navegação===*/
    #navegador .navhorizontal{
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1000;
    }

    #navegador ul{
        padding: 0;
        width: 100%;
        background-color: rgba(239, 137, 137,0.9);
        display: flex;
    }

    #navegador ul li {
        position: relative;
        list-style-type: none;
        flex: 1;
    }

    #navegador ul.navhorizontal li a {
        display: block;
        text-decoration: none;
        color: #e2144a;
        padding: 14px 16px;
        border: 1px solid #555;
        text-align: center;
    }

    #navegador li ul {
        list-style-type: none;
        position: absolute;
        top: 100%;       
        padding: 0;
        display: none;
        background-color: #e2144a;
        min-width: 100%;
    }

    #navegador ul li a:hover {
        text-decoration: underline;
        font-weight: bold;
        background-color: #555;
    }

    #navegador ul li:hover ul {
        display: block;
        background-color: rgb(125, 180, 228);
    }

    #navegador ul li:hover > a{
        display: block;
        background-color: rgb(73, 244, 244);
    }

/*--GUIA AUXILIAR DA PAGINA(INCIO/FIM)*/
    .guia {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: rgba(49, 240, 39, 0.7);
        color: black;
        padding: 10px;
        border-radius: 100px;
        z-index: 1000;
    }

    .guia ul {
        display: block;
        width: 100%;
        background-color: rgba(230, 126, 126, 0.7);
        margin: 0;
        padding: 0;
    }

    .guia ul li {
    flex: 1;/*cada item ocupa o mesmo espaço*/
    list-style-type: none;
    }

    .guia ul li a{
    display: block;     
    padding: 2px 10px;       
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;

    }

    .guia ul li a:hover {
        background-color: rgb(64, 0, 255);
        color: white;
    }

    .guia ul li a:active {
        background-color: rgb(255, 0, 179);
        color: white;
    }

/*-------SOBRE MIM------------*/
    #Sobremim{
        padding: 50px 0;
    }

    #InfPessoais{
        scroll-margin-top: 50px;
    }

    table.dadospessoais{
        border-left: black solid 1px;
        text-align: left;
        padding-left: 10px;
        width: 75%;
        height: auto;
        background-color: rgb(188, 186, 217);
    }

    .eu{
        width: 25%;
        height: auto;
        display: block;
        margin: 0 ;
    }

    .dadospessoais td{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 0px 10px;
        flex-wrap: wrap;
    }
    
    .info{
        display: flex;
        background-color: blue;
        height:auto;
        width: 100%;
        margin-top: 15px;
    }
   
/*=====HOBBIES=======*/
    #Hobbies{
        padding: 30px 0;
    }
    
    .container-hobbies{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap:20px;
    }
    
    .hobby{
        background-color:rgb(165, 212, 157);
        text-align: center;
        justify-content: center;
    }
    
/*=====APRESENTAÇÃO======*/
    #Apresentacao{
        padding: 30px 0;
    }
    
    .paragrafo{
        background-color: aliceblue;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        align-content: center;
        }

/*===FORMAÇAO===*/
    #Formacao1{
        background-color: aliceblue;
    }

    #Formacao1 ul{
    background-color: rgb(159, 199, 235);
    }